Package: [[name]]
Section: contrib/java
Priority: optional
Architecture: all
Homepage: https://bitbucket.org/petermr/ami-core/wiki/Home
Depends: java7-runtime
Version: [[version]]
Maintainer: Mark J. Williamson <mjw@mjw.name>
Description: [[description]]
